@import url(https://fonts.googleapis.com/css?family=VT323|Pacifico|Nova+Mono);
body {
  font-family: 'Nova Mono', monospace;
  background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/debut_light.png);
}

div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-user-select: none;
  /* Chrome/Safari */
  
  -moz-user-select: none;
  /* Firefox */
  
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  
  -o-user-select: none;
  user-select: none;
}

.btn {
  width: 50px;
  position: relative;
  margin: 10px 5px;
  text-align: center;
  padding: 6px 0;
  box-shadow: 2px 2px 2px black;
  font-size: 1.7em;
}

.btn:active {
  top: 1px;
}

.double {
  width: 117px;
}

.result {
  position: relative;
  height: 70px;
  width: 250px;
  margin: auto;
  margin-bottom: 30px;
  border: 2px solid #888;
  border-radius: 7px;
  background-color: #6F7558;
  box-shadow: 3px 3px 4px #444 inset;
}

.result .view {
  font-size: 1.8rem;
  height: 1em;
  padding: 0 5px;
  text-align: right;
  margin: 4px 0;
}

.result input {
  /* display: inline;  ESLint警告, inline時會忽略寬高, 故hide掉*/
  width: 240px;
  height: 1em;
  position: relative;
  text-align: right;
  font-family: 'VT323', monospace;
  font-size: 3em;
  background: none;
  border: none;
}

.contour {
  position: relative;
  border: 2px solid #666;
  border-radius: 25px;
  padding: 20px;
  padding-top: 40px;
  width: 320px;
  margin: 60px auto;
  background-color: #444;
  box-shadow: 5px 5px 2px #333;
}

h1.head {
  font-family: 'Pacifico', sans;
  margin-top: 40px;
  font-size: 3.4em;
  color: #555;
}

.btns {
  margin: 15px auto;
}
/* Scaling for Mobile */

@media screen and (max-width: 450px) {
  h1.head {
    display: none;
  }
  .contour {
    top: 30px;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    left: 50%;
    margin-left: -112px;
  }
}